<?xml version="1.0" encoding="UTF-8" ?>

<launch>
    <node pkg="localization" type="ICP_method1" name="icp" output="screen">
        <param name="max_xy" value="120" />
        <param name="max_car_x" value="50" />
        <param name="max_car_y" value="30" />
        <param name="max_car_z" value="10" />
        <param name="min_car_z" value="-5" />
    </node>
    <node pkg="localization" type="generate_csv.py" name="csv" output="screen"></node>
</launch>

<!-- Total score: 0.8927569240129892 0.6497990504534068 0.6758447818502624 0.432452223226028
final score: 0.7278520902941874
<param name="max_xy" value="60" />
<param name="max_car_x" value="40" />
<param name="max_car_y" value="15" />
<param name="max_car_z" value="10" />
<param name="min_car_z" value="-10" /> -->


<!-- Total score: 0.8884835311217799 0.736706399054576 0.6441083929670124 0.4071500267451876
final score: 0.7552018140417625
<param name="max_xy" value="50" />
<param name="max_car_x" value="30" />
<param name="max_car_y" value="15" />
<param name="max_car_z" value="10" />
<param name="min_car_z" value="-10" /> -->

<!-- Total score: 0.8600590052649373 0.7610218320493318 0.5336441880157462 0.32245945404420623
final score: 0.734042699131703
<param name="max_xy" value="30" />
<param name="max_car_x" value="20" />
<param name="max_car_y" value="10" />
<param name="max_car_z" value="5" />
<param name="min_car_z" value="-5" /> -->

<!-- Total score: 0.9088563695642522 0.7504890611100012 0.7268140797120414 0.30930832803376757
final score: 0.7673504130442822
<param name="max_xy" value="80" />
<param name="max_car_x" value="50" />
<param name="max_car_y" value="10" />
<param name="max_car_z" value="5" />
<param name="min_car_z" value="-5" /> -->

<!-- Total score: 0.9664521978588846 0.9046040336586184 0.7355236399162313 0.4983055866749266
final score: 0.8718054152661171
<param name="max_xy" value="80" />
<param name="max_car_x" value="50" />
<param name="max_car_y" value="10" />
<param name="max_car_z" value="5" />
<param name="min_car_z" value="-5" /> 
max_car_+y +40 -->


<!-- private_1
score 0.05~0.07
r=0, p=0, y=3.14;
<param name="max_xy" value="80" />
<param name="max_car_x" value="50" />
<param name="max_car_y" value="10" />
<param name="max_car_z" value="10" />
<param name="min_car_z" value="-5" />  -->
<!-- 0.974166310237 0.937149934642 0.840476055578 0.399749921826
final score: 0.888549095692 -->



<!-- private_2
score 0.04~0.06
r=0, p=0, y=2.14;
<param name="max_xy" value="80" />
<param name="max_car_x" value="50" />
<param name="max_car_y" value="10" />
<param name="max_car_z" value="10" />
<param name="min_car_z" value="-5" /> -->
<!-- 0.934077084613 0.968916921103 0.980688533633 0.377557942573
final score: 0.897022249907 -->

<!-- private_3
score 0.1~0.7
r=0, p=0, y=3.14;
<param name="max_xy" value="120" />
<param name="max_car_x" value="50" />
<param name="max_car_y" value="30" />
<param name="max_car_z" value="3" />
<param name="min_car_z" value="-5" /> -->
<!-- 0.485716376098 0.446545613655 0.806287481292 0.707774874965
final score: 0.524311031527 -->

<!-- private_3
score 0.04~0.1
r=0, p=0, y=2.97;
x+2, y-2
<param name="max_xy" value="120" />
<param name="max_car_x" value="15" />
<param name="max_car_y" value="15" />
<param name="max_car_z" value="10" />
<param name="min_car_z" value="-5" /> -->

<!-- private_3
score 0.04~0.3
r=0, p=0, y=2.97;
x+2, y-2
max_car_-y +32
<param name="max_xy" value="120" />
<param name="max_car_x" value="50" />
<param name="max_car_y" value="30" />
<param name="max_car_z" value="10" />
<param name="min_car_z" value="-5" /> -->

<!-- private_3
score 0.04~0.09
r=0, p=0, y=2.97;
x+2, y-2
max_car_-x +40
max_car_-y +32
<param name="max_xy" value="120" />
<param name="max_car_x" value="50" />
<param name="max_car_y" value="30" />
<param name="max_car_z" value="10" />
<param name="min_car_z" value="-5" /> -->