<?xml version="1.0" encoding="UTF-8" ?>

<launch>
    <node pkg="localization" type="ICP_method1_hard" name="icp" output="screen">
        <param name="max_xy" value="150" />
        
        <param name="max_car_x" value="120" />
        <param name="min_car_x" value="6" />

        <param name="max_car_y" value="120" />
        <param name="min_car_y" value="6" />

        <param name="max_car_z" value="10" />
        <param name="min_car_z" value="-10" />
    </node>
    <node pkg="localization" type="generate_csv.py" name="csv" output="screen"></node>
</launch>


<!-- 
private 1
<param name="max_xy" value="150" />
<param name="max_car_x" value="120" />
<param name="min_car_x" value="5" />
<param name="max_car_y" value="120" />
<param name="min_car_y" value="5" />
<param name="max_car_z" value="10" />
<param name="min_car_z" value="-10" />

private 2
<param name="max_xy" value="150" />
<param name="max_car_x" value="120" />
<param name="min_car_x" value="6" />
<param name="max_car_y" value="120" />
<param name="min_car_y" value="6" />
<param name="max_car_z" value="10" />
<param name="min_car_z" value="-10" />

private 3
<param name="max_xy" value="150" />
<param name="max_car_x" value="120" />
<param name="min_car_x" value="5" />
<param name="max_car_y" value="120" />
<param name="min_car_y" value="2" />
<param name="max_car_z" value="10" />
<param name="min_car_z" value="-10" /> -->